<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="pl-2">
        <%= link_to 'Test', root_path, class: "main_logo navbar-brand rounded font-weight-bold bg-dark"%>
    </div>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pl-4 justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <% if user_signed_in? %>
            <li class="nav-item dropdown ml-4">
                <a class="top_bar_text dropdown_link nav-link active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Friends
                </a>
                <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'Friends', friends_path, class: "top_bar_text dropdown-item"%>
                    <%= link_to 'Add new friend', new_friend_path, class: "top_bar_text dropdown-item"%>
                    <a class="top_bar_text dropdown-item" href="#">Something else here</a>
                </div>  
            </li>
        <% end %>
            <%= link_to 'News', static_pages_news_path, class: 'top_bar_text add_f nav-item nav-link ml-4'%>
            <%= link_to 'About Us' , static_pages_about_path, class: 'top_bar_text nav-item nav-link ml-4'%>
            <%= link_to 'Help', static_pages_help_path, class:'top_bar_text nav-item nav-link ml-4'%>

            <% if user_signed_in? %>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "top_bar_text nav-item nav-link ml-4"%>
                <%= link_to 'Edit Profile', edit_user_registration_path, class: "top_bar_text nav-item nav-link ml-4"%>
            <% else %>
                <%= link_to 'Sign Up', new_user_registration_path, class: "top_bar_text nav-item nav-link ml-4"%>
                <%= link_to 'Sign In', new_user_session_path, class: "top_bar_text nav-item nav-link ml-4"%>
            <% end %>

            <%# session password: qUWTP6UWJSmYGyg %>
            
            
        </div>
        <div class="row">
            <div class = "search_line">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="nav-item dropdown mr-1">
                
                <a class="logout_btn dropdown_link  nav-link active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-sign-out-alt"></span>
                    LogOut
                </a>
                <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownMenuLink">
                    
                    <a class="top_bar_text dropdown-item" href="#">Something else here</a>
                </div>  
            </div>
        </div>
        
        
    </div>
</nav>